.row{
    margin: 0
}

/* main app styles */
.App{
    background-color: #f0f0f0;
}
.wrapper{
    padding: 0
}

/* header section */
.header .topheader a{
 text-decoration: none;
 color: #000000
}
.header{
    background-color: #fff;
}
.productHeader{
    padding: 0;
}
.filter{
    padding: 0;
    color: #929292
}
.brand{
    margin-bottom: -5px !important;
}
.col-md-10{
    margin: 0 auto;
}

/* filter section and cart */
.nopadding{
    padding: 0
}
.header .filterheader a{
    text-decoration: none;
    color: #868686;
    padding: 10px;
    margin-top: -15px;

}
.header .filterheader .active{
    background-color: #ececec;
}

.filter .showall{
    background-color: #ffffff;
}
.filter .category{
    margin-right: 20px;
    padding: 10px;
    background-color: #ececec;
}
.filter .category button{
    border: none;
    background-color: #d1d1d1;
    width: 30%;
    margin-right: 3%;
    color: #868686
}
.filter .orderby{
    margin-right: 20px;
    padding: 10px;
    background-color: #ececec;
}
.filter .orderby button{
    border: none;
    background-color: #d1d1d1;
    width: 35%;
    margin-right: 4%;
    color: #868686
}
.filter .showall{
    float: right;
    text-align: right;
}

.cartdiv{
    text-align: right;
}

.cartdiv label{
    margin-left: 10px;
    color: #929292
}
.productHeader{
    /* background: #f0f0f0; */
    padding: 15px 0 10px 0
}

/* wines section */
@media only screen and (max-width: 778px){
  
}

@media only screen and (min-width: 778px){
    
}
.winewrapper{
    margin-top: 10px;
    margin-bottom: 30px;
}

.content .cta{
    display: flex;
}
.winewrapper button{
    padding: 5px 2px;
    border: none;
    color: #ffffff;
    margin-top: 20px;
}

.content .bottles{
    border-right: 1px solid #cccccc;
    padding: 0 10px;
}
.content .case{
    padding: 0 10px;
}
.content .details{
    background-color: #d8d8d8;
    width: 80%;
    margin-right: 5px;
    color: #6e6e6e
}

.content .addtocart{
    background-color: #b45022;
    width: 98%;
}
.cardcontent{
    background-color: #fff;
    height: 100%;
}
.winewrapper .span{
    text-align: center;
    background-color: #ffffff;
    color: red
}
.cardcontent .wineImage{
    padding-left: 10px;
    text-align: center;
}
.wineImage img{
    margin: 10px 0 10px 0;
    /* height: 100%; */
    height: 230px;

}
.winewrapper .card-body{
    padding: 15px;
}
.winewrapper .name{
    font-size: 14px;
}
.winewrapper .number{
    font-size: 25px;
}
.winewrapper p{
    font-size: 14px;
}
.winewrapper .quantity, input{
    font-size: 12px;
}
.winewrapper .card-title{
    color:#6e6e6e
}
.winewrapper p, span, input{
    color: #6e6e6e;
}

hr{
    margin-bottom: 0;
}
.cardwrapper{
    background-clip: border-box;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
}
.winewrapper input{
    width: 45%;
    
}